.THIS tbody{
	display: table-row-group;
	vertical-align: middle;
}

.THIS tr{
	display: table-row;
	vertical-align: inherit;
}

.THIS td.medschoolTableElement{
	width: 50%;
	vertical-align: bottom;
}

.THIS td.countryTableElement, .THIS td.stateTableElement{
	width: 20%;
	vertical-align: bottom;
}

.THIS td.searchButtonTableElement{
	width: 10%;
	vertical-align: bottom;
	padding-bottom: 11px;
}

.THIS .slds-button{
	vertical-align: middle;
}

.THIS #sfdc_medicalschool_container{
	height: 2rem;
	margin-bottom:10px;
    padding: 0;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.THIS #sfdc_country_container, .THIS #sfdc_state_container{
    margin-bottom:10px;
    margin-left: 6px;
    padding: 0px;
    background-color:white;
    border: none;
    /*border: 1px solid #CCC;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    /*border-radius: 2px;*/
}

.THIS #modal-heading-01{
	margin-bottom: 6px;
}

.THIS .slds-modal__container{
	max-width: 70rem;
	width: 75%;
}

.THIS .slds-form-element__label{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 3px;
}

.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS .search-button{
    border: none!important;
    margin-top: 3px;
}

.THIS .search-button:hover{
    background-color: transparent!important;
}

.THIS  button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: rgb(20, 44, 72);
    background-color: rgb(163, 184, 198);
    border-color: #357ebd;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 700;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
}

.THIS  button:hover {
    background-color:#84a0b2;
}

.THIS  input {
	vertical-align: middle;
    margin-left:10px;
    margin-top: 3px;
    border: 0px solid transparent;
    width: 95%;
    -webkit-appearance: none;
    font-size: 14px;
}

.THIS  a {
    color: rgb(21, 137, 238);
    text-decoration: none;
}

.THIS input:focus {
    outline: none;
}

.THIS .alert {
	color: red;
}

.THIS .slds-form-element__control {
	display: block;
	width: auto;
}