.THIS .documentContainer {
	background: rgb(124, 152, 174);
	border: rgb(153, 153, 153) solid 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.THIS .bodyContent {
	border: rgb(153, 153, 153) solid 1px;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 15px;
}

.THIS .slds-page-header {
	background: none;
	border-radius: 5px;
	padding: 6px;
}

.THIS .slds-text-title--caps {
	color: rgb(255, 255, 255);
}