<apex:page controller="DSE.DS_SetupWizardController" extensions="DSE.DS_FieldSetSetupWizardEx"
    standardStylesheets="true" sidebar="true" showheader="true"
    tabStyle="Account" action="{!loadPersonAcctFieldSetSetupPage}">
    <apex:form >
        <c:DS_SetupWizardCommon />
        <apex:outputpanel id="WizardButtons1"
            rendered="{!s_showNewPage==false}">
            
            <c:DS_SetupWizardButtons enableSetDefaults="false"/>
        </apex:outputpanel>
        
        <apex:pageBlock id="Topper">
            <apex:pageMessages id="pageMessageBit" />
            <apex:pageBlockSection columns="1" showHeader="true" title="Person Account Field Set Configuration"
                    collapsible="true"
                    rendered="{!s_showNewPage==false}">
                    <apex:selectlist value="{!selectedFieldSet}" multiselect="false" size="1">
                        <apex:selectoptions value="{!acctFieldSets}"/>
                        <apex:actionSupport event="onchange" reRender="multiSelectPanel,fieldsTable" action="{!loadFieldsOfFieldSet}"/>
                    </apex:selectlist>
                    <apex:panelGrid columns="3" id="multiSelectPanel">
                        <apex:outputText value="Available Fields" style="font-weight: bold;"/>
                        <apex:outputpanel layout="none"/> 
                        <apex:outputText value="Selected Fields" style="font-weight: bold;"/>
                        <apex:selectList id="availableFieldList" value="{!leftSelection}" multiselect="true" size="10" style="width:300px;">
                            <apex:selectOptions value="{!availableFields}" />
                        </apex:selectList>
                        <apex:panelGroup >
                            <br/><br/><br/>
                            <apex:image value="/s.gif" styleclass="rightArrowIcon" title="Add">
                                <apex:actionSupport event="onclick" action="{!selectclick}" reRender="multiSelectPanel"/>
                            </apex:image>
                            <br/><br/>
                            <apex:image value="/s.gif" styleclass="leftArrowIcon" title="Remove">
                                <apex:actionSupport event="onclick" action="{!unselectclick}" reRender="multiSelectPanel"/>
                            </apex:image>
                        </apex:panelGroup>
                        <apex:selectList id="selectedFieldList" value="{!rightSelection}" multiselect="true" size="10" style="width:300px;">
                            <apex:selectOptions value="{!selectedFields}" />
                        </apex:selectList>
                        <apex:outputpanel layout="none"/>
	                    <apex:commandButton value="{!$Label.dse__ds_wizard_save}" action="{!saveSelectedFields}" rerender="fieldsTable,pageMessageBit"/>
	                    <apex:outputpanel layout="none"/>
                    </apex:panelGrid>
                    <apex:pageblockTable value="{!existingFields}" var="field" id="fieldsTable">
                        <apex:column headerValue="Fields present in the Field Set">{!field}</apex:column>
                    </apex:pageblockTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>