<!-- =================================================================
* (c) Cloud Factory GmbH 2011, Germany, All rights reserved
* DS_CallDataManagerAccount
* @author.....: VVR salesfactory42
* @email......: vvonrekowski@salesfactory42.com
* @version....: V0.1
* @date.......: 2011/05/13
* Description: --
* Objects....: 
* ===============================================================-->
<apex:page Standardcontroller="Account">
	
	<apex:includeLightning />
	
	<apex:outputpanel layout="none" rendered="{!$User.UITheme != 'Theme4d' && $User.UITheme != 'Theme4t' && $User.UIThemeDisplayed != 'Theme4d' && $User.UIThemeDisplayed != 'Theme4t'}">
		<apex:include pageName="DSE__DS_Datamanager"/>
	</apex:outputpanel>
	
	<apex:outputpanel layout="none" rendered="{!$User.UITheme == 'Theme4d' || $User.UITheme == 'Theme4t' || $User.UIThemeDisplayed == 'Theme4d' || $User.UIThemeDisplayed == 'Theme4t'}">
        <apex:stylesheet value="{!URLFOR($Resource.DSE__SLDS100, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
		<div id="lightning" />
	    <script>
	    	    
			var obj = "{!$ObjectType.DS_Bean__c.Name}";
            var ns = obj.replace("DS_Bean__c", "");
            if(ns != null && ns != "") {
                ns = ns.replace("__","");
            } else {
                ns = "c";
            }
            
            $Lightning.use(ns + ":DS_LT_CC360_Application", function() {
            	$Lightning.createComponent(ns + ":DS_LT_CC360_Component",
            		{
            			ComponentName : "DATA_MANAGER", 
                        ComponentAttributes :	{
                        							"RecordId"		:	"{!$CurrentPage.parameters.Id}"
                   								}
                    },
            		"lightning",
            		function(component){}
            	);
           	});
            
	    </script>
    </apex:outputpanel>
	
</apex:page>