<apex:page controller="DSE.DS_SetupWizardController" standardStylesheets="true"  sidebar="true" showheader="true" tabStyle="Account">

<apex:form >
<c:DS_SetupWizardCommon />
<apex:outputpanel id="WizardButtons1" rendered="{!s_showNewPage==false}">
    <c:DS_SetupWizardButtons />
</apex:outputpanel>

<apex:pageBlock id="Topper"> 
    <apex:pageMessages id="pageMessageBit" /> 
    
 <!-- ************************************************* -->    
 <!-- ************ Countries Bit ********************** -->
 <!-- ************************************************* -->
 <apex:outputPanel id="International">
 
    <!--  ********** Check Boxes *********** -->
    <apex:pageBlockSection columns="1" showHeader="true"  title="Country Standardization" collapsible="true" rendered="{!s_showNewPage==false}">
        <apex:inputCheckbox onChange="s_MakeDirty()" value="{!ds_c_Settings.DSE__DS_Standardize_Billing_Country__c}"/>
        <apex:inputCheckbox onChange="s_MakeDirty()" value="{!ds_c_Settings.DSE__DS_Validate_Billing_Country__c}"/>
    </apex:pageBlockSection>
    
    <!--  ********** List Of Docs *********** -->
    <apex:pageBlockSection columns="1" showHeader="false"  id="pb1" rendered="{!s_showNewPage==false}" collapsible="true">
        <apex:commandButton value="{!$Label.dse__ds_wizard_newinternational}"  rerender="WizardButtons1,WizardButtons2,International,LegalForms,OtherBitsAndBobs">
            <apex:actionSupport action="{!s_NewDocP1_International}" event="onclick" />  
        </apex:commandButton>   
        
        
        <apex:pageBlockTable value="{!DS_c_International}" var="international" rendered="{!s_showNewPage==false}" rows="{!Int_PageLength}" first="{!Int_PagePosn}" id="IntTable">
            <apex:column width="100" >  
                <apex:facet name="header">Name</apex:facet>
                <apex:commandlink value="{!$Label.dse__ds_wizard_edit}" action="{!s_EditThisDoc}"> 
                    <apex:param name="IDParam" value="{!International.id}" /> 
                    <apex:param name="WhichButton" value="International" /> 
                </apex:commandlink> 
                &nbsp;|&nbsp;
                <apex:commandlink value="{!$Label.dse__ds_wizard_delete}" action="{!s_DeleteThisDoc}"  >
                    <apex:param name="IDParam" value="{!International.id}" />
                    <apex:param name="WhichButton" value="International" /> 
                </apex:commandlink> 
                 &nbsp;&nbsp;  
                 <apex:OutputText value="{!International.Name}"/>
            </apex:column>
            
            <apex:column width="200" value="{!international.DSE__DS_Billing_Country__c}">
                <apex:facet name="header">Country</apex:facet>
            </apex:column>
            <apex:column width="200" value="{!international.DSE__DS_International_Name__c}">
                <apex:facet name="header">International Name</apex:facet>
            </apex:column>
            <apex:column width="200" value="{!international.DSE__DS_Local_Name__c}">
                <apex:facet name="header">Local Name</apex:facet>
            </apex:column>

        </apex:pageBlockTable>
    
        <apex:outputpanel id="IntTableButtons">
        <apex:commandlink value="<<" action="{!s_NextPrevScroll}" rendered="{!Int_PageCount>=Int_PageLength}" rerender="IntTable,IntTableButtons">
             <apex:param name="PageToScroll" value="Int" /> 
             <apex:param name="ForwardsBackwards" value="Start" />
        </apex:commandlink>&nbsp;&nbsp;&nbsp;
        <apex:commandlink value="Previous" action="{!s_NextPrevScroll}" rerender="IntTable,IntTableButtons" rendered="{!ShowPrevTable1}">
             <apex:param name="PageToScroll" value="Int" /> 
             <apex:param name="ForwardsBackwards" value="Backwards" /> 
        </apex:commandlink>&nbsp;&nbsp;
        <apex:commandlink value="Next" action="{!s_NextPrevScroll}" rerender="IntTable,IntTableButtons" rendered="{!ShowNextTable1}">
             <apex:param name="PageToScroll" value="Int" /> 
             <apex:param name="ForwardsBackwards" value="Forwards" />
        </apex:commandlink>
         &nbsp;&nbsp;&nbsp;<apex:commandlink value=">>" action="{!s_NextPrevScroll}" rendered="{!Int_PageCount>=Int_PageLength}" rerender="IntTable,IntTableButtons" >
             <apex:param name="PageToScroll" value="Int" /> 
             <apex:param name="ForwardsBackwards" value="End" />
        </apex:commandlink>
        </apex:outputpanel>
    </apex:pageBlockSection> 
    
    <!--  ********** Input Screen *********** -->
    <div style="text-align: center;">   
        <apex:commandButton value="{!$Label.dse__ds_wizard_saveinternational}" action="{!s_SaveThisDoc}" rendered="{!s_showNewPage && WhichButton=='International'}" rerender="Topper"/>
        <apex:commandButton value="{!$Label.dse__ds_wizard_cancel}" action="{!s_CancelSave}"   rendered="{!s_showNewPage && WhichButton=='International'}" immediate="true" />  
    </div>
    
    <apex:pageBlockSection columns="2" showHeader="true"  title="Country" collapsible="true" rendered="{!s_showNewPage && WhichButton=='International'}">
        <apex:inputField onChange="s_MakeDirty()" value="{!s_100_NewInternational.Name  }"/>
        <apex:inputField onChange="s_MakeDirty()" value="{!s_100_NewInternational.DSE__DS_Billing_Country__c}"/>
        <apex:inputField onChange="s_MakeDirty()" value="{!s_100_NewInternational.DS_Country_ISO_Code__c    }"/>
        <apex:inputField onChange="s_MakeDirty()" value="{!s_100_NewInternational.DS_Currency_ISO_Code__c   }"/>
        <apex:inputField onChange="s_MakeDirty()" value="{!s_100_NewInternational.DS_International_Name__c  }"/>
        <apex:inputField onChange="s_MakeDirty()" value="{!s_100_NewInternational.DS_Local_Name__c  }"/>
        <apex:inputField onChange="s_MakeDirty()" value="{!s_100_NewInternational.DSE__DS_Old_name__c}"/>
    </apex:pageBlockSection>
    
    <div style="text-align: center;">
        <apex:commandButton value="{!$Label.dse__ds_wizard_saveinternational}" action="{!s_SaveThisDoc}" rendered="{!s_showNewPage && WhichButton=='International'}" rerender="Topper"/>
        <apex:commandButton value="{!$Label.dse__ds_wizard_cancel}" action="{!s_CancelSave}"   rendered="{!s_showNewPage && WhichButton=='International'}" immediate="true" />  
    </div>

</apex:outputPanel>
 <!-- ************************************************* -->    
 <!-- ************ Legal Forms Bit ******************** -->
 <!-- ************************************************* -->  
  <apex:outputPanel id="LegalForms">
  
     <!--  ********** Check Boxes *********** -->
    <apex:pageBlockSection columns="1" showHeader="true"  title="Legal Forms" collapsible="true" rendered="{!s_showNewPage==false}">
        <apex:inputCheckbox onChange="s_MakeDirty()" value="{!ds_c_Settings.DSE__DS_Extract_Legal_Form__c}"/>
        <apex:inputCheckbox onChange="s_MakeDirty()" value="{!ds_c_Settings.DSE__DS_Extract_Domain__c}"/>
    </apex:pageBlockSection> 
    
    <!--  ********** List Of Docs *********** -->
   <apex:pageBlockSection columns="1" showHeader="false"  id="pb2" rendered="{!s_showNewPage==false}">
    <apex:commandButton value="{!$Label.dse__ds_wizard_newlegalform}"  rerender="WizardButtons1,WizardButtons2,International,LegalForms,OtherBitsAndBobs">     
        <apex:actionSupport action="{!s_NewDocP1_Legal}"  event="onclick" /> 
    </apex:commandButton>
    <apex:pageBlockTable value="{!DS_c_LegalForms}" var="LegalForm" id="LegTable" rendered="{!s_showNewPage==false}" rows="{!Leg_PageLength}" first="{!Leg_PagePosn}">
        <apex:column width="200" >  
            <apex:facet name="header">Name</apex:facet>
            <apex:commandlink value="{!$Label.dse__ds_wizard_edit}" action="{!s_EditThisDoc}">
                <apex:param name="IDParam" value="{!LegalForm.id}" /> 
                <apex:param name="WhichButton" value="LegalForm" /> 
            </apex:commandlink> 
            &nbsp;|&nbsp;
            <apex:commandlink value="{!$Label.dse__ds_wizard_delete}" action="{!s_DeleteThisDoc}"  >
                <apex:param name="IDParam" value="{!LegalForm.id}" />
                <apex:param name="WhichButton" value="LegalForm" /> 
            </apex:commandlink> 
             &nbsp;&nbsp;  
             <apex:OutputText value="{!LegalForm.Name}" /> 
        </apex:column>
         
         <apex:column width="200" >  
            <apex:facet name="header">Legal Form</apex:facet>
                <apex:OutputText value="{!LegalForm.DSE__DS_Legal_Form__c}"/>
         </apex:column>
         <apex:column width="200" >  
            <apex:facet name="header">ISO Code</apex:facet>
                <apex:OutputText value="{!LegalForm.DSE__DS_Country_ISO_Codes__c}"/>
         </apex:column>
        
    </apex:pageBlockTable>
    <apex:outputpanel id="LegTableButtons">
        <apex:commandlink value="<<" action="{!s_NextPrevScroll}" rendered="{!Leg_PageCount>=Leg_PageLength}" rerender="LegTable,LegTableButtons">
             <apex:param name="PageToScroll" value="Leg" /> 
             <apex:param name="ForwardsBackwards" value="Start" />
        </apex:commandlink>&nbsp;&nbsp;&nbsp;
        <apex:commandlink value="Previous" action="{!s_NextPrevScroll}" rerender="LegTable,LegTableButtons" rendered="{!ShowPrevTable2}">
             <apex:param name="PageToScroll" value="Leg" /> 
             <apex:param name="ForwardsBackwards" value="Backwards" /> 
        </apex:commandlink>&nbsp;&nbsp;
        <apex:commandlink value="Next" action="{!s_NextPrevScroll}" rerender="LegTable,LegTableButtons" rendered="{!ShowNextTable2}">
             <apex:param name="PageToScroll" value="Leg" /> 
             <apex:param name="ForwardsBackwards" value="Forwards" />
        </apex:commandlink>        
        &nbsp;&nbsp;&nbsp;<apex:commandlink value=">>" action="{!s_NextPrevScroll}" rendered="{!Leg_PageCount>=Leg_PageLength}" rerender="LegTable,LegTableButtons" >
             <apex:param name="PageToScroll" value="Leg" /> 
             <apex:param name="ForwardsBackwards" value="End" />
        </apex:commandlink>
        
    </apex:outputpanel>    
    </apex:pageBlockSection> 
    
     <!--  ********** Input Screen *********** -->
     <div style="text-align: center;">
        <apex:commandButton value="{!$Label.dse__ds_wizard_savelegalform}" action="{!s_SaveThisDoc}" rendered="{!s_showNewPage && WhichButton=='LegalForm'}" rerender="Topper"/>
        <apex:commandButton value="{!$Label.dse__ds_wizard_cancel}" action="{!s_CancelSave}"   rendered="{!s_showNewPage && WhichButton=='LegalForm'}" immediate="true" />  
    </div>
    
    <apex:pageBlockSection columns="2" showHeader="true"  title="Legal Form" collapsible="true" rendered="{!s_showNewPage  && WhichButton=='LegalForm'}">
        <apex:inputField onChange="s_MakeDirty()" value="{!s_100_NewLegalForm.Name  }"/>
        <apex:inputField onChange="s_MakeDirty()" value="{!s_100_NewLegalForm.DS_Country_ISO_Codes__c   }"/>
        <apex:inputField onChange="s_MakeDirty()" value="{!s_100_NewLegalForm.DS_Legal_Form__c  }"/>
        <apex:inputField onChange="s_MakeDirty()" value="{!s_100_NewLegalForm.DS_Search_Text__c }"/>
    </apex:pageBlockSection>
    
    <div style="text-align: center;">
        <apex:commandButton value="{!$Label.dse__ds_wizard_saveinternational}" action="{!s_SaveThisDoc}" rendered="{!s_showNewPage && WhichButton=='LegalForm'}" rerender="Topper"/>
        <apex:commandButton value="{!$Label.dse__ds_wizard_cancel}" action="{!s_CancelSave}"   rendered="{!s_showNewPage && WhichButton=='LegalForm'}" immediate="true" />  
    </div>
    
 </apex:outputPanel>
 <!-- ************************************************* -->    
 <!-- ************Other Bit ******************** -->
 <!-- ************************************************* -->   
  <apex:outputPanel id="OtherBitsAndBobs"> 
 <!--  ********** Check Boxes *********** -->  
    <apex:pageBlockSection columns="1" showHeader="true"  title="Other Standardization Rules" collapsible="true" rendered="{!s_showNewPage==false}">  
        <apex:inputCheckbox onChange="s_MakeDirty()" value="{!ds_c_Settings.DSE__DS_Extract_Domain__c}"/> 
   </apex:pageBlockSection>
</apex:outputPanel>


<!-- ********** Other Formalities...... ********** -->   
   
</apex:pageBlock>  

 
<apex:outputpanel id="WizardButtons2" rendered="{!s_showNewPage==false}">
    <c:DS_SetupWizardButtons />
</apex:outputpanel>

</apex:form>
</apex:page>