<apex:page sidebar="false" showHeader="false"  controller="icAgentConsole.incAgentConsoleController" >
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/MetaTag.js')}"/>

  <script type="text/javascript">
    IC_Localization = {
    commitmentRefusedTime: "{!JSENCODE($Label.commitmentRefusedTime)}",
    proceed: "{!JSENCODE($Label.proceed)}",
    reschedule: "{!JSENCODE($Label.reschedule)}",
    dismiss: "{!JSENCODE($Label.dismiss)}",
    commitmentReminder: "{!JSENCODE($Label.commitmentReminder)}",
    commitmentAutoPostpone:"{!JSENCODE($Label.commitmentAutoPostpone)}",
    salesforceAgent: "{!JSENCODE($Label.salesforceAgent)}"
    }
  </script>
  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/jquery-ui-themes/jquery-ui.css')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/jquery.mCustomScrollbar.css')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/CustomScrollBar.css')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/CommitmentPopout.css')}"/>

  <apex:outputPanel rendered="{!isLightningMode}">
    <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/lightning/CommitmentPopoutLightning.css')}"/>
  </apex:outputPanel>

  <!-- Include scripts for salesforce integration -->
  <script src="/support/api/43.0/interaction.js" type="text/javascript"/>
  <script src="/soap/ajax/43.0/connection.js" type="text/javascript"/>

  <!-- Third party libraries -->
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/base64-string-v1.1.0.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/lz-string-1.3.3.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/log4javascript.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jquery-1.10.2.min.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jquery-migrate-1.2.1.min.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jquery-ui.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/common/SessionStorageAppender.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/common/Util.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/common/PersistentList.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/data/AgentConsoleDataStore.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/popout/CommitmentPopoutControl.js')}"/>

  <script type="text/javascript">

    var j1102 = jQuery.noConflict();
    j1102(document).ready(function ($) {

    $('#commitmentReminder').commitmentPopout({
    record:JSON.parse(localStorage.commitmentReminder).data,
    resourceBase:'{!JSENCODE($Resource.AgentConsoleApp)}',
    sfMode: '{!JSENCODE($CurrentPage.parameters.mode)}'
    });
    });
  </script>

  <div id="commitmentReminder" />
</apex:page>