.THIS .slds-path__item + .slds-is-current:before,
.THIS .slds-path__item + .slds-is-active:before,
.THIS .slds-is-current .slds-path__link:hover,
.THIS .slds-is-current .slds-path__link,
.THIS .slds-path__item + .slds-is-current:hover,
.THIS .slds-path__item + .slds-is-active:hover,
.THIS .slds-is-current:hover,
.THIS .slds-path__item:hover,
.THIS .slds-is-active:hover,
.THIS .slds-path__nav .slds-is-current:before,
.THIS .slds-path__nav .slds-is-current:after,
.THIS .slds-path__nav .slds-is-current,
.THIS .slds-path__nav .slds-is-current:hover
.THIS .slds-path__nav .slds-is-active:hover {
	background: rgb(124, 152, 174);
	color: rgb(9, 9, 9);
	border: 0px solid transparent;
	text-decoration: none;
}

.THIS .slds-is-current .slds-path__link:hover,
.THIS .slds-is-current .slds-path__link {
	color: white;
}

.THIS .slds-path__nav .slds-is-complete:hover .slds-path__link,
.THIS .slds-path__nav .slds-is-complete .slds-path__link,
.THIS .slds-path__nav .slds-is-complete:before,
.THIS .slds-path__nav .slds-is-complete:after,
.THIS .slds-path__nav .slds-is-complete {
	/*color: rgb(9, 9, 9);*/
	background: rgb(124, 152, 174);
}

.THIS .slds-icon-text-default {
	fill: rgb(9, 9, 9);
}

.THIS .slds-path__nav .slds-is-incomplete,
.THIS .slds-path__nav .slds-is-incomplete:hover,
.THIS .slds-path__item+.slds-is-incomplete:before,
.THIS .slds-path__item+.slds-is-lost:before,
.THIS .slds-path__item:hover+.slds-is-incomplete:before, 
.THIS .slds-path__item:hover+.slds-is-lost:before,

.THIS .slds-path__item+.slds-is-incomplete:after,
.THIS .slds-path__item+.slds-is-lost:after,
.THIS .slds-path__item:hover+.slds-is-incomplete:after,
.THIS .slds-path__item:hover+.slds-is-lost:after {
	background-color: rgb(222, 224, 223);
	text-decoration: none;
}

.THIS .examLaunchButton {
	background-color: #006633;
	border-color: #006633;
}

.THIS .downloadButton {
	background-color: #006633;
	border-color: #006633;
	margin-top: 5px;
}

.THIS .scheduleExamButton, .THIS .downloadPermitButton{
	background-color: #006633;
	border: 1px solid #006633;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 7px;
}

.THIS .scheduleExamButton { width: 165px;
}

.THIS .downloadPermitButton { width: 200px;
}

.THIS .scheduleExamButton:hover, .THIS .downloadPermitButton:hover{
	background-color: #006633;
	border: 1px solid #006633;
}