.THIS {
	font-family: neuzeit-grotesk, sans-serif;
	font-size: 14px;
}
.THIS .inlineCheckbox{
  display: inline-block;
  float: left;
  
    /*margin-left: 5px;*/
    margin-right: 5px;
    /*margin-top: 5px;*/
}