.THIS #sfdc_firstname_container{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.THIS #sfdc_middlename_container,
.THIS #sfdc_nickname_container,
.THIS #sfdc_email_container,
.THIS #sfdc_usmleid_container, 
.THIS #sfdc_aamcid_container,  
.THIS #sfdc_birthdate_container, 
.THIS #sfdc_country_container, 
.THIS #sfdc_medicalschool_container,
.THIS #sfdc_phone_container,
.THIS #sfdc_gradyear_container {
    margin-bottom: 0px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-top: none;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.THIS #sfdc_nbmeid_container {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-top: none;
}

.THIS #sfdc_extrafield_container{
    margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.THIS .slds-form-element__label{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 3px;
    width: 40%;
}

.THIS .slds-form-element__control{
    display: inline-block;
    width: 50%;
}

/*
****************   NEW   **********************
    .THIS .slds-form-element__label: width: 40%;
    entire .THIS .slds-form-element__control section
    .THIS input: removed width: 94%;
    .THIS .search-button: padding-left: 0.5rem;
                            margin-right: 25px;
    .THIS .clear-button: padding-left: 0.5rem;
    .THIS .slds-input[disabled]: width: 70%;

    need to make centerPanel section for community width: 600px and possibly resize logo
***********************************************
*/

/*.THIS .form-element__label{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 3px;
}*/

.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS #sfdc_search{
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS #sfdc_lock{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS  .login-icon{
    color:#ccc;font-size:22px;
}

/*.THIS .search-button, .THIS .clear-button{
    border: none!important;
    margin-top: 3px;
}*/

.THIS .search-button{
    border: none!important;
    margin-top: -25px;
    margin-right: 25px;
    padding-left: 0.5rem;
}

.THIS .clear-button{
    border: none!important;
    margin-top: -25px;
    padding-left: 0.5rem;
}

.THIS .search-button:hover, .THIS .clear-button:hover{
    background-color: transparent!important;
}

.THIS #sfdc_password_container{
    margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.THIS #sfdc_confirm_password_container{
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.THIS  button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    background-color: #4593DD;
    border-color: #357ebd;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 700;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
}

.THIS .uiButton--default .label {
    color: #ffffff;
}

/*.THIS  input {
    margin-left:10px;
    margin-top: 3px;
    border: 0px solid transparent;
    width: 70%;
    -webkit-appearance: none;
    font-size: 14px;
}*/

.THIS  input {
    margin-left:10px;
    margin-top: 3px;
    border: 1px solid;
    /*width: 70%;*/
    -webkit-appearance: none;
    font-size: 14px;
    border-color: rgb(153, 153, 153);
}

.THIS .slds-input[disabled] {
    width: 70%;
    background-color: white;
    border-color: rgb(153, 153, 153);
}

.THIS #sfdc_forgot{
    font-family: 'Open Sans', 'sans-serif';
    font-weight:300;
    font-size: 14px;
    margin-top: 10px
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS .slds-select_container{
    width: 94%;
    margin-left: 10px;
}

.THIS  a {
    color:white;
    text-decoration: none;
}

.THIS input:focus {
    outline: none;
}

/*.THIS input[type="date"] {
    width: 100%;
}*/

.THIS input[type="checkbox"] {
    appearance: none;
    border: 1px solid white;
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

.THIS input[type="checkbox"]:checked {
    border: 1px solid ;
}

.THIS input[type="checkbox"]:checked:after {
    display: block;
    position: relative;
    content: '';
    left: 3px;
    top: 3px;
    height: 6px;
    width: 10px;
    border-bottom: 4px solid /*#354452*/ white;
    border-left: 4px solid /*#354452*/ white;
    transform:rotate(-45deg);
}

.THIS input[type="checkbox"].disabled {
    opacity: 0.35;
}

.THIS input[type="checkbox"] + label {
    vertical-align: middle;
}