.THIS .slds-page-header__title {
	color: white;
	font-family: neuzeit-grotesk, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
}

.THIS .slds-page-header {
	background-color: #3c5a76;
	border-color: #d4d4d4;
	border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 10px 15px;
}

.THIS .category+.category {
	margin-top: 5px;
}