.THIS ::placeholder {
	color: rgb(184, 188, 196);
	font-family: neuzeit-grotesk, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
}

.THIS .slds-page-header__title {
/*	color: white;
	font-family: neuzeit-grotesk, sans-serif;
    font-style: normal;*/
    font-weight: 700;
    font-size: 150%;
}

.THIS .slds-page-header {
	/*background-color: #3c5a76;
	border-color: #d4d4d4;
	border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 10px 15px;*/
    background-color: white;
}

.THIS .slds-box {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border-top-color: transparent;
}

.THIS span.lightningPrimitiveIcon {
	margin-left: -6px;
	color: #fff;
}

.THIS .slds-input-has-icon .slds-input__icon {
	height: 100%;
	margin-top: -18px;
	margin-right: -12px;
	border: 1px solid;
	border-color: rgb(212,212,212);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.THIS .slds-form-element__control {
	margin-bottom: 1rem;
}

.THIS .customButton {
    background-color: #6b90ec;
    margin-left: 3px;
    min-height: calc(2.125rem + 2px);
}

.THIS .productSupportingText {
	font-size: 120%;
}